<%- include("./partials/head") %>

    <body>

        <%- include("./partials/header") %>

            <div class="container">
                <main class="login">

                    <h2>Login</h2>

                    <form action="/login" method="POST" class="login-form">

                        <div class="login-inputs">

                            <span class="feedback">
                                <% if(typeof errors !="undefined" ) { %>
                                    <% for (let i=0; i < errors.length; i++) { %>
                                        <%= errors[i].msg %>
                                            <% } %>
                                                <% } %>
                            </span>

                            <label for="email">
                                <!-- for cambiado de usuario a email -->
                                <h3>Email</h3>
                                <div class="icono-caja">
                                    <i class="fa-solid fa-envelope"></i>
                                    <input type="email" name="email" id="usuario" placeholder="Email">
                                    <!-- name/placeholder de usuario a email -->
                                    <span class="feedback">
                                        <% if (locals.errors && errors.email) { %>
                                            <%= errors.email.msg %>
                                                <% } %>
                                    </span> <!-- puse Ingresa tu EMAIL -->
                                </div>
                            </label>


                            <label for="password">
                                <h3> Password</h3>
                                <div class="icono-caja">
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" name="password" id="password" placeholder="Password">
                                    <!-- borre el minlength="2" -->
                                    <span class="feedback">
                                        <% if (locals.errors && errors.password) { %>
                                            <%= errors.password.msg %>
                                                <% } %>
                                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="botonYcontrasena">
                            <input id="boton-login" type="submit" name="" value="Iniciar sesión">

                            <div class="recuerdame">
                                <input type="checkbox" name="keepLogin" id="keepLogin" value="checked">
                                <label for="keepLogin"></label>Recuérdame</label>
                            </div>

                            <!-- AUN NO SABEMOS RESOLVER ESTO -->
                            <a id="olvido" href="#">Olvidó su contraseña?</a>

                            <a href="/register">No tienes una cuenta?</a>
                        </div>
                    </form>

                </main>

                <%- include("./partials/footer") %>

            </div>

    </body>

    </html>