<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>
    <div class="container">
    <main>
        <div class="cont_profile">
            <h1>Bienvenid@!!</h1>

            <h2><%= user.UsersNombre %></h2>

            <!-- <h2><%= user.UsersEmail %></h2> -->
            <img src="/img/users/<%=user.UsersImageName%>" class="imageProfile">


        </div>
        
    </main>
    <%- include("./partials/footer") %>
    </div>
</body>
</html>