<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>
    <div class="container">
    <main>

        <img src="/img/users/<%=user.image%>">

        <h2><%= user.usuario %></h2>

        <h2><%= user.email %></h2>
        
    </main>
    <%- include("./partials/footer") %>
    </div>
</body>
</html>