<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>
    <div class="container">
    <main>

        <img src="/img/users/<%=user.UsersImageName%>" class="imageProfile">

        <h2><%= user.UsersNombre %></h2>

        <h2><%= user.UsersEmail %></h2>
        
    </main>
    <%- include("./partials/footer") %>
    </div>
</body>
</html>